.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.loading > .spinner {
  width: 7rem;
  height: 7rem;
  border: 1rem solid #b2b2b2;
  border-radius: 50%;
  border-top-color: #000000;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Banner */

.ticker-container {
  flex-direction: row-reverse;
  overflow: hidden;
  white-space: fixed;
  position: fixed;
  /* top: 200px; */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 800%;
  background-color: rgb(202, 200, 200);
}

.ticker {
  display: inline-block;
  margin-right: 110px;
  font-size: 30px;
  color: #000000;
  animation: ticker 20s linear infinite;
  transition-duration: 10s;
  transform: translateX(100%);
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
