.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loading > .spinner {
  width: 10rem;
  height: 10rem;
  border: 1rem solid #ccc;
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

